body {
    font-family: 'Miriam Libre', cursive !important;
}

.logo {
    font-family: 'Righteous', cursive;
    font-weight: bold;
    font-size: 35px !important;
    text-shadow: 2px 2px 5px #888;
}

.navbar {
    position: fixed;
    top: 0px;
    padding: 5px 0px 1px;
    z-index: 1001;
}

.nav li a {
    font-family: 'Comfortaa', cursive !important;
    font-size: 14px;
}

#nav-background {
    background-color: #FF4C4C;
}

#nav-background a {
    color: white;
    font-weight: bold;
}

#myNavbar ul li a:hover {
    background-color: #FF4C4C !important;
    text-shadow: 2px 2px 5px #888;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#myNavbar ul li.active>a {
    background-color: #FF4C4C !important;
    font-size: 16px;
    text-shadow: 2px 2px 5px #888;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

body,
html {
    height: 100%;
}


/*body {
  background-image: url(three.jpg);
  background-attachment: fixed;
  background-size: cover;
}*/

#main-body {
    min-height: 100%;
    background-color: #FFF4F4;
    opacity: 1.00;
    padding: 3px 0px 0px;
    border: none !important;
}

.detail-cont {
    background-color: rgb(255, 247, 247);
    margin-top: 20px;
    border: 1px double red;
}


.orgdash {
    margin: 10% !important;
    padding: 0 !important;
    border: 0px !important;
}

.login-form {
    margin: 8% 10% 0 10% !important;
}

.login-form .form-group {
    margin: 30px !important;
}