.logo {
    font-family: 'Merienda One', cursive;
    font-weight: bold;
    font-size: 35px !important;
    text-shadow: 2px 2px 5px #888;
}

.navbar {
    position: fixed;
    top: 0px;
    padding: 5px 0px 1px;
    z-index: 1001;
}

.nav li a {
    font-family: 'Righteous', cursive;
    font-size: 13px;
}

#nav-background {
    background-color: #FF4C4C;
}

#nav-background a {
    color: white;
    font-weight: bold;
}

#myNavbar ul li a:hover,
#myNavbar ul li.active>a {
    background-color: rgba(215, 3, 3, 0.73) !important;
    font-size: 15px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

body,
html {
    height: 100%;
}


/*body {
  background-image: url(three.jpg);
  background-attachment: fixed;
  background-size: cover;
}*/

#main-body {
    min-height: 100%;
    background-color: #FFF4F4;
    opacity: 1.00;
    padding: 3px 0px 0px;
    border: none !important;
}