<style>
    .well {
        margin: 8% auto !important;
        max-width: 500px;
    }
</style>

<div class = "well">
    For <b>Organizations</b> <br>
    Specifications about the project that can help an organization(7-10 lines)<br>
    <a href = "#!organizationsignup">Link to signup for organizer</a>
</div>

<div class = "well">
    For <b>Blood Banks</b> <br>
    Specifications about the project that can help a blood bank(7-10 lines)<br>
    <a href = "#!banksignup">Link to signup for bank</a>
</div>