<link href="../styles/upcomingevents.css" rel="stylesheet" type="text/css">

<nav class="navbar navbar-default navbar-fixed-top" id="nav-background">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand logo" href="#!main">CRIMSON</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!main">Home</a></li>
                <li><a href="#!useroptions">Conduct a blood Camp</a></li>
                <li class="active"><a href="#!upcomingevents">Upcoming Blood Camps</a></li>
                <li><a href="#!proximalbanks">Blood Banks Near You</a></li>
                <li><a href="#!useroptions"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br>

<div>
    <div class=" col-lg-4 col-md-42 col-xs-12" ng-repeat="event in events">
        <div class="panel panel-warning" style="text-align:left;">
            <div class="panel-heading" style="margin: auto;text-align:center;">{{ event.name }}</div>
            <div class="panel-body">
                <ul style="list-style-type: none;">
                    <li><b>Venue :</b> {{ event.venue }}</li>
                    <li><b>Date :</b> {{ event.date }}</li>
                    <li><b>Time :</b> {{ event.time }}</li>
                    <li><b>Total Donors Registered :</b> {{ event.donors.length }}</li>
                </ul>
                <button class="button-def btn btn-danger" ng-click="saveEvent(event._id)" data-toggle="modal" data-target="#myModal">REGISTER</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Registration</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="register()">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="name" class="form-control" id="name" ng-model="donor.name" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" ng-model="donor.email" placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="contact">Contact No.:</label>
                        <input type="contact" class="form-control" id="contact" ng-model="donor.contact" placeholder="Enter Contact No.">
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender:</label>
                        <div ng-model="donor.gender">
                            <input type="checkbox" value="male">Male
                            <input type="checkbox" value="female">Female
                            <input type="checkbox" value="other">Other
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="age">Age:</label>
                        <input type="age" class="form-control" id="age" ng-model="donor.age" placeholder="Enter age">
                        <label class="control-label col-sm-2 text-left" for="bloodgroup">Blood Group:</label>
                        <div class="form-group">
                            <select class="form-control" id="bloodgroup" ng-model="donor.bloodGrp">
                                <option>A+ve</option>
                                <option>B+ve</option>
                                <option>AB+ve</option>
                                <option>O+ve</option>
                                <option>A-ve</option>
                                <option>B-ve</option>
                                <option>AB-ve</option>
                                <option>O-ve</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <button style="float: right" type="submit" class="btn btn-danger">
                            SUBMIT
                        </button>
                        <!--   <button data-dismiss="modal" type="submit" class="button-def" style="float:right; margin-right:20px;" >Submit</button>  -->
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<br><br>