<nav class="navbar navbar-default navbar-fixed-top" id="nav-background">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand logo" href="#!main">CRIMSON</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#!main">Home</a></li>
                <li><a href="#!useroptions">Conduct a blood Camp</a></li>
                <li><a href="#!upcomingevents">Upcoming Blood Camps</a></li>
                <li><a href="#!proximalbanks">Blood Banks Near You</a></li>
                <li ng-click = "!useroptions"><a href="#!useroptions"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br>

<div class="container row" style="border: 1px solid red; padding: 20px; margin: 10px;">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="row">
            <label class="col-sm-7" style="font-size: 18px;">Post requirements</label>
            <a href="#" class="col-sm-5"><button class = "button-def">Post information</button></a>
        </div>
        <div class="row">
            <label class="col-sm-7" style="font-size: 18px;">Contact with other blood banks</label>
            <a href="#" class="col-sm-5"><button class = "button-def">Click here</button></a>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>