<link href="../styles/banksignup.css" rel="stylesheet" type="text/css"></link>

<nav class="navbar navbar-default navbar-fixed-top" id="nav-background">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand logo" href="#!main">CRIMSON</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#!main">Home</a></li>
                <li><a href="#!useroptions">Conduct a blood Camp</a></li>
                <li><a href="#!upcomingevents">Upcoming Blood Camps</a></li>
                <li><a href="#!proximalbanks">Blood Banks Near You</a></li>
                <li><a href="#!useroptions">Logout<span class="glyphicon glyphicon-log-in"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br>

<div class="col-sm-2"></div>
<div class="row ng-cloak">
    <form class="text-justify" id="signupbar">
        <h2>Create a Blood Donation Camp</h2><br>
        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="name">Event Name</label>
                <input type="text" class="form-control"  name="username" ng-model="event.name">
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="contact">Contact</label>
                <input type="date" class="form-control"  name="date" ng-model="event.date">
            </div>       
        </div>
        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="name">Venue</label>
                <input type="text" class="form-control"  name="venue" ng-model="event.venue">
            </div> 
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="email">Time</label>
                <input type="time" class="form-control"  name="time" ng-model="event.time">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="city">Content</label>
                <textarea rows="10" class="form-control"  name="content" ng-model="event.content"></textarea>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-danger" type = "submit" ng-click="submit(event)">SUBMIT</button><br>
        </div>
    </form>
    <!--<div class="col-sm-6" id="signupbar">
        <h3 class="text-center">Create a Blood Donation Camp</h3>
        <div class="form-group form-group-sm">
            <label for="name">Name:</label>
            <input type="text" class="form-control" placeholder="Enter Name" name="username" ng-model="event.name">
        </div>

        <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" class="form-control" ng-model="event.date" placeholder="Enter date" name="date">
        </div>

        <div class="form-group form-group-sm">
            <label for="venue">Venue:</label>
            <input type="text" class="form-control" ng-model="event.venue" placeholder="Enter venue" name="venue">
        </div>

        <div class="form-group form-group-sm">
            <label for="venue">Timing:</label>
            <input type="text" class="form-control" ng-model="event.time" placeholder="Enter time" name="time">
        </div>

        <div class="form-group form-group-sm">
            <label for="content">Content:</label>
            <textarea type="text" class="form-control" ng-model="event.content" placeholder="Enter content" name="content">
                </textarea>
        </div>

        <button class="btn btn-primary btn-block" style="font-size: 18px;" ng-click="submit(event)">Submit</button>

    </div>-->

</div>
<br><br>