<nav>
  <p>Name of project</p>
  <a href = "#!upcomingcamps">Upcoming camps</a>
  <a href="#">Emergency blood needs</a>
  <a href = "#!proximalbanks">Nearby banks</a>
  <a href = "#!useroptions">Conduct a camp</a>
</nav>

<img src = "images/yeoman.png" alt = "Slide show of events conducted" width = "700px" height="200px">
<a href="#!upcomingcamps">See more</a>
<marquee direction = "up" class = "indexmarquee">
  
  <div class="events-in-main">
    <h5>Name of event</h5>
    <p>Details of the event ........</p>
  </div>

  <div class="events-in-main">
      <h5>Name of event 2.0</h5>
      <p>Details of the event ........</p>
  </div>

</marquee>
  
