<style>
    .table {
        margin: 2% auto !important;
        max-width: 70%;
    }

    .eventDetails {
        text-align: center !important;
    }

    button {
        margin: auto !important;
    }
</style>

<br>
<div class="eventDetails">
    <h3><b>Date</b>: {{event.date}}</h3><br>
    <h3><b>Venue</b>: {{event.venue}}</h3><br>
    <h3><b>Time</b>: {{event.time}}</h3><br>
    <h3><b>Total registrations</b>: {{event.donors.length}}</h3>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Name</td>
            <td>Gender</td>
            <td>Age</td>
            <td>Blood Group</td>
            <td>Contact No</td>
            <td>Email ID</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="donor in event.donors">
            <td>{{donor.name}}</td>
            <td>{{donor.gender}}</td>
            <td>{{donor.age}}</td>
            <td>{{donor.bloodGrp}}</td>
            <td>{{donor.contact}}</td>
            <td>{{donor.email}}</td>
        </tr>
    </tbody>

</table>

<button class="btn btn-danger" ng-click="notifyAll()">Send Mails</button>