<h1>Name - {{proxdetcamp.name}}</h1>
<h3>{{proxdetcamp.address}}</h3>
<h3>{{proxdetcamp.city}} , {{proxdetcamp.district}} , {{proxdetcamp.state}}</h3>
<h3>PIN - {{proxdetcamp.pincode}}</h3>
<p>Phone No. - {{proxdetcamp.contactno}}</p>
<p>Mobile - {{proxdetcamp.mobile}}</p>
<p>Email ID - {{proxdetcamp.email}}</p>
<p>Category - {{proxdetcamp.category}}</p>
<p>Component - {{proxdetcamp.component}}</p>
<p>Timing - {{proxdetcamp.timing}}</p>
<p>Website - <a href = "{{proxdetcamp.website}}">Redirect to website</a></p>
<p>Distance from here - {{proxdetcamp.distance}}</p>
<div class = "well">
<h4>Nodal officer info</h4>
<p>Name - {{proxdetcamp.officer}}</p>
<p>Email - {{proxdetcamp.officerEmail}}</p>
<p>Phone No - {{proxdetcamp.officerNo}}</p>

</div>