<nav class="navbar navbar-default navbar-fixed-top" id="nav-background">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand logo" href="#!main">CRIMSON</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!main">Home</a></li>
                <li><a href="#!useroptions">Conduct a blood Camp</a></li>
                <li><a href="#!upcomingevents">Upcoming Blood Camps</a></li>
                <li class="active"><a href="#!proximalbanks">Blood Banks Near You</a></li>
                <li><a href="#!useroptions"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br>

<table class="table table-hover">
    <thead>
        <tr>
            <td>Sl No</td>
            <td>Name</td>
            <td>Address</td>
            <td>State</td>
            <td>Contact No.</td>
            <td>Nodal Officer</td>
            <td>Email</td>
            <td>Distance(in kms)</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="bank in bankList">
            <td>{{bank[0]}}</td>
            <td><a style="cursor: pointer" ng-click="proxcamp.getMoreDetails(bank)">{{bank[1]}}</a></td>
            <td>{{bank[5]}}</td>
            <td>{{bank[2]}}</td>
            <td>{{bank[8]}}</td>
            <td>{{bank[13]}}</td>
            <td>{{bank[11]}}</td>
            <td>{{bank[27]}}</td>
        </tr>

    </tbody>
</table>