<nav class="navbar navbar-default navbar-fixed-top" id="nav-background">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand logo" href="#!main">CRIMSON</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!main">Home</a></li>
                <li><a href="#!useroptions">Conduct a blood Camp</a></li>
                <li><a href="#!upcomingevents">Upcoming Blood Camps</a></li>
                <li class="active"><a href="#!proximalbanks">Blood Banks Near You</a></li>
                <li><a href="#!useroptions"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br>
<div class="detail-cont">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 text-center">
            <h3>{{proxdetcamp.name}}</h3>
            <h5>{{proxdetcamp.address}}</h5>
            <h5>{{proxdetcamp.city}} , {{proxdetcamp.district}} , {{proxdetcamp.state}}</h5>
            <h5>Phone No. - {{proxdetcamp.contactno}}</h5>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <p class="col-sm-2"></p>
        <p class="col-sm-5">PIN - {{proxdetcamp.pincode}}</p>
        <p class="col-sm-5">Mobile - {{proxdetcamp.mobile}}</p>
    </div>
    <div class="row">
        <p class="col-sm-2"></p>
        <p class="col-sm-5">Email ID - {{proxdetcamp.email}}</p>
        <p class="col-sm-5">Category - {{proxdetcamp.category}}</p>
    </div>
    <div class="row">
        <p class="col-sm-2"></p>
        <p class="col-sm-5">Component - {{proxdetcamp.component}}</p>
        <p class="col-sm-5">Timing - {{proxdetcamp.timing}}</p>
    </div>
    <div class="row">
        <p class="col-sm-2"></p>
        <p class="col-sm-5">Website - <a href="{{proxdetcamp.website}}">Redirect to website</a></p>
        <p class="col-sm-5">Distance from here - {{proxdetcamp.distance}}</p>
    </div>
</div>

<div class="detail-cont row">
    <h4 class="text-center">Nodal officer info</h4>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <p>Name - {{proxdetcamp.officer}}</p>
        <p>Email - {{proxdetcamp.officerEmail}}</p>
        <p>Phone No - {{proxdetcamp.officerNo}}</p>
    </div>
    <div class="col-sm-3"></div>
</div>