<nav class="gtco-nav" role="navigation">
    <div class="gtco-container">

        <div class="row">
            <div class="col-sm-2 col-xs-12">
                <div id="gtco-logo">
                    <h1>
                        <a href="#!main">CRIMSON</a>
                    </h1>
                </div>
            </div>
            <div class="col-xs-10 text-right menu-1">
                <ul>
                    <li>
                        <a href="#!main">Home</a>
                    </li>
                    <li>
                        <a href="#!useroptions">Conduct a blood Camp</a>
                    </li>
                    <li>
                        <a href="#!upcomingevents">Upcoming Blood Camps</a>
                    </li>
                    <li>
                        <a href="#!proximalbanks">Blood Banks Near You</a>
                    </li>
                    <li>
                        <a href="#!useroptions">
                            <span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>
<br>
<br>
<br>
<br>

<div class="form-group form-group-sm row">

    <label class="col-sm-4">Mail List</label>
    <div class="col-sm-8">
        <select ng-model="selectedOrg" ng-options="x.name for x in mailList" class="form-control"></select>
    </div>
</div>


<div class="form-group form-group-sm row">

    <label class="col-sm-4">To</label>
    <div class="col-sm-8">
        <input class="form-control" name="to" ng-model="selectedOrg.email" readonly style = "width : 400px">
    </div>
</div>

<div class="form-group form-group-sm row">

    <label class="col-sm-4">Subject</label>
    <div class="col-sm-8">
        <input class="form-control" name="subject" ng-model="subject" placeholder="Enter the subject" style = "width : 400px">        
    </div>
</div>

<div class="form-group form-group-sm row">

    <label class="col-sm-4">Subject</label>
    <div class="col-sm-8">
        <textarea class="form-control" placeholder="Enter the content" ng-model="content" name="content" rows = "6" cols = "70">
           
        </textarea>       
    </div>
</div>

<button class="btn btn-display" ng-click="sendMail(selectedOrg.email , subject , email)">Send mail</button>

<footer id="gtco-footer" class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-4">
            <h3 style="color: white;">CRIMSON</h3>
        </div>
        <div class="col-sm-4">
            <p>This site aims to address the various hindrances encountered during blood donation or organising a blood camp.</p>
        </div>
        <div class="col-sm-4 gtco-footer-subscribe">
            <form class="form-inline">
                <div class="form-group form-group-sm">
                    <label class="sr-only" for="exampleInputEmail3">Email address</label>
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <button type="submit" class="button-def">Send</button>
            </form>
        </div>
    </div>
</footer>