<nav class="gtco-nav" role="navigation">
    <div class="gtco-container">

        <div class="row">
            <div class="col-sm-2 col-xs-12">
                <div id="gtco-logo">
                    <h1><a href="#!main">CRIMSON</a></h1>
                </div>
            </div>
            <div class="col-xs-10 text-right menu-1">
                <ul>
                    <li><a href="#!main">Home</a></li>
                    <li><a href="#!useroptions">Conduct a blood Camp</a></li>
                    <li><a href="#!upcomingevents">Upcoming Blood Camps</a></li>
                    <li><a href="#!proximalbanks">Blood Banks Near You</a></li>
                    <li class="active"><a href="#!useroptions"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>

    </div>
</nav>
<br><br><br><br>

<form class="form-horizontal">
    <div class="form-group form-group-sm">
        <div class="col-sm-2"></div>
        <label class="control-label col-sm-2" for="name">User Name:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Enter username" ng-model="userop.username" />
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="form-group form-group-sm">
        <div class="col-sm-2"></div>
        <label class="control-label col-sm-2" for="name">Password:</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" placeholder="Enter password" ng-model="userop.password" />
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="form-group form-group-sm">
        <div class="col-sm-2"></div>
        <label class="control-label col-sm-2" for="userType">User Category:</label>
        <div class="col-sm-4">
            <select class="form-control" ng-model="userop.userType">
        <option>Organization</option>
        <option>Blood Bank</option>
    </select></div>
    </div>
    <div class="row">
        <div class="col-sm-5"></div>
        <button class="button-def col-sm-1" ng-click="userop.userLogin(userop.username,userop.password,userop.usertype)">Log in</button>
        <a href="#!signup" class="col-sm-2">Register here</a>
        <div class="col-sm-4"></div>
    </div>
</form>
<br><br><br><br>