<input type = "text" class = "form-control" placeholder="Enter username" ng-model = "userop.username"/>
<input type = "password" class = "form-control" placeholder="Enter password" ng-model = "userop.password" />
<p>User Type</p>
<select ng-model="userop.userType">
    <option>Organization</option>
    <option>Blood Bank/option>
</select>
<button class = "btn btn-primary" ng-click = "userop.userLogin(userop.username,userop.password,userop.usertype)">Log in</button>
<a href = "#!signup">Register here</a>